<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="footer">
        <div class="footer__title-container">
            <h4 class="footer__title">Casa de Oración y Puerta del Cielo</h4>
        </div>
        <div class="footer__social">
            <a class="footer__link" href="#">
                <i class="fab fa-facebook footer__item"></i>
            </a>
            <a class="footer__link" href="#">
                <i class="fab fa-instagram footer__item"></i>
            </a>
            <a class="footer__link" href="#">
                <i class="fab fa-youtube footer__item"></i>
            </a>
        </div>
    </footer>
</body>
</html>