<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <img tabindex="0" aria-label="Casa de oración y puerta del cielo" class="header__logo" src="./assets/Logo.png" alt="Logo">
        <div class="header__title-container">
            <h1 class="header__title">Casa de Oración y Puerta del Cielo</h1>
            <h2 tabindex="0" class="header__text">"Formando <span class="red">Discípulos</span> para <span class="red">Cristo</span>"</h2>
        </div>
    </header>
</body>
</html>