<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <article class="services__service">
        <h3 tabindex="0" class="service__title">Culto Presencial</h3>
        <img tabindex="0" class="service__img" src="./assets/Logo.png" alt="Culto Presencial">
        <p tabindex="0" class="service__desc">Te invitamos a nuestro culto presencial, donde nos deleitaremos en la palabra del Señor todos los <span class="red">Domingos</span> a las 10:00 AM en el sexto piso del centro comercial La Central, encuentra cómo llegar <a href="#">aquí</a>.</p>
    </article>
</body>
</html>